/* Background color for main page */
body {
    background-color: lightgrey;
}

/* Settings for content boxes */
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

/* Section Settings to fill up whole page */
section {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

/* Heading for each section on left side with solid black right border going down the whole section */
section h2 {
    position:relative;
    height: 100%;
    display: inline-block;
    width: 20%;
    border-right: 2px solid black;
    margin-right: 5px;
    text-align: center;
    vertical-align: top;
}

/* Header settings */
.main-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkblue;
    color: #ffffff;
}

/* Title settings */
.main-header h1 {
    display: inline-block;
    font-size: 36px;
}

/* Navigation bar settings */
.main-header nav {
    display:flex;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Navigation Bar list settings */
.main-header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* removes hyperlink effects for navigation bar */
.main-header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Background image settings */
.background {
    height:500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/tree-736885_1280.jpg");
    background-size: cover;
    background-position: center;

}

/* Content section settings */
.infosection {
    display: inline-block;
    width: 69%;
    margin-left: 5%;
}

/* Main image card section settings */
.main-card{
    position:relative;
    width: 100%;
    display: inline-block;
}

/* Image settings within section */
.main-card img {
    width: 90%;
}

/* Image card section formatting */
.card{
    position:relative;
    width: 45%;
    display:inline-block;
}

/* image card settings within section */
.card img {
    width: 90%;
}

/* title card on images */
.card-title {
    position:absolute;
    bottom: 1%;
    background-color: lightblue;
    padding: 3%;
    border: 5px solid blue;
    color:black;
}

/* contact me section */
.infosection ul li {
    display: inline-block;
    margin-left: 20%;
}

/* Screen size change */
@media screen and (max-width: 768px) {
    .main-header{
        background-color: maroon;
    }
    .background{
        background-image: url("../assets/images/background2.jpg")
    }
}